* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.top-nav {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  background-color: #f6f8fc;
}

.top-nav .logo {
  display: flex;
  align-items: center; /* Align items vertically to the center */
  gap: 1vw;
}

.top-nav .logo .text {
  font-weight: 500;
  line-height: 1;
  
}
.top-nav .logo i {
  color: green;
  font-size: 1.9vw;
}

.top-nav .right-items {
  width: 30%;
  display: flex;
  gap: 2vw;
  justify-content: end;
}

/* sidebar */
.side-nav {
  width: 18vw;
  height: 90vh;
  background-color: #f6f8fc;
  padding: 1rem;
}

.compose-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 25px;
  background-color: #4cca67;
  color: white;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.compose-btn:hover {
  background-color: #4cca67;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 25px;
}

.nav-items {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid;
  margin-top: 2vh;
  border-color: #dadada;
}

.nav-items a {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  gap: 1vw;
  align-items: center;
  color: #212529;
}

/* Dynamic background color for active links */
.certificate.active {
  background-color: #c6f1c6;
}

/* page */
.page-content {
  display: flex;
  width: 100%;
  min-width: 80vw;
  height: 100%;
}

.content {
  width: 100%;
  min-width: 80vw;
}


.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(56, 199, 87);
}


.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

/* .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1em;
  font-weight: 400;
  transition-duration: .3s;
} */
/* hover effect on button width */
/* .Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
} */

/* .Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
} */
/* hover effect button's text */
/* .Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
} */
/* button click effect*/
/* .Btn:active {
  transform: translate(2px ,2px);
} */ 