<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <h1>Sentiment Analysis</h1>

    <form action="/sentiment/analyze" method="POST">
      <textarea
        name="text"
        placeholder="Enter text to analyze"
        required
      ></textarea
      ><br />
      <button type="submit">Analyze Sentiment</button>
    </form>

    <% if (typeof sentimentScore !== 'undefined') { %>
    <h2>Sentiment Score: <%= sentimentScore %></h2>
    <h3>Sentiment: <%= sentiment %></h3>
    <% } %>
  </body>
</html>
